.listDetailes {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-content: flex-start;
	flex-grow: var(--main-list-details-grow);
}

@media (max-width: 1180px) {
	.listDetailes {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		flex-grow: var(--main-list-details-grow);
	}
}

.priceBlock {
	min-width: var(--main-price-block-width);
	max-width: var(--main-price-block-width);
	width: var(--main-price-block-width);
	text-align: left;
}

@media (max-width: 1180px) {
	.priceBlock {
		min-width: var(--main-price-block-small-width);
		max-width: var(--main-price-block-small-width);
		width: var(--main-price-block-small-width);
		text-align: left;
	}
}

.priceBlockSmall {
	min-width: var(--main-price-block-sm-width);
	max-width: var(--main-price-block-sm-width);
	width: var(--main-price-block-sm-width);
	text-align: left;
}

@media (max-width: 1180px) {
	.priceBlockSmall {
		min-width: var(--main-price-block-sm-small-width);
		max-width: var(--main-price-block-sm-small-width);
		width: var(--main-price-block-sm-small-width);
		text-align: left;
	}
}

.chart {
	height: var(--main-chart-height);
	min-height: var(--main-chart-height);
	max-height: var(--main-chart-height);
}

@media (max-width: 1180px) {
	.chart {
		height: var(--main-chart-small-height);
		min-height: var(--main-chart-small-height);
		max-height: var(--main-chart-small-height);
	}
}

.controlField {
	margin: 5px;
	display: flex;
	flex-direction: var(--main-control-field-direction);
	align-items: baseline;
	justify-content: space-around;
}

@media (max-width: 1180px) {
	.controlField {
		margin: 5px;
		display: flex;
		flex-direction: var(--main-control-field-sm-direction);
		align-items: center;
		justify-content: space-around;
	}
}

.accordion {
	overflow-y: auto;
	max-height: var(--main-accordion-height);
}

@media (max-width: 1180px) {
	.accordion {
		overflow-y: auto;
		max-height: var(--main-accordion-small-height);
	}
}

/* 
@media (max-width: 1180px) {
	.listDetailes {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		flex-grow: .3;
	}

	.priceBlock {
		min-width: 160px;
		max-width: 160px;
		width: 160px;
		text-align: left;
	}

	.priceBlockSmall {
		min-width: 70px;
		max-width: 70px;
		width: 70px;
		text-align: left;
	}

	.chart {
		height: 150px;
		min-height: 150px;
		max-height: 150px;
	}

	.accordion {
		overflow-y: auto;
		max-height: 73vh;
	}

	.controlField {
		margin: 5px;
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
		justify-content: space-around;
	}

} */